.android
.asdf
.cache
.cocoapods
.config
.docker
.eclipse
.expo
.fleet
.gem
.gradle
.hex
.local
.m2
.npm
.oh-my-zsh
.react-native-cli
.ssh
.swiftpm
.Trash
.vscode
.zsh_sessions
Applications
Desktop
Dev
Documents
Downloads
Library
Movies
Music
OneDrive
Pictures
Postman
Public

.bash_history
.bash_profile
.CFUserTextEncoding
.emulator_console_auth_token
.gitconfig
.lesshst
.node_repl_history
.viminfo
.yarnrc
.zprofile
.zprofile.bak
.zsh_history
.DS_Store
.zcompdump-Guilherme’s MacBook Air-5.8
.zcompdump-Guilherme’s MacBook Air-5.8.1